/* creating our google font with this link */

@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

/* get rid of the margins/ use open sans make the font-size 0.9 times its actual size */
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    font-size: 0.9em;
}

/* get rid of the default underline decoration on anchor tags */
a {
    margin: 5px 5px;
    text-decoration: none;
    color: black;
}

/* add underline decoration when the user hovers */
a:hover {
    text-decoration: underline;
}

/* start by using flexbox(grow space to fit items or shrink them) */
nav {
    display: flex;
    justify-content: space-between;
}

#header-left {
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
    align-items: center;
}

#header-right {
    display: flex;
    justify-content: flex-end;
    /* Aligns the flex items at the end of the container. */
    margin-right: 20px;
    align-items: center;
}

ul>a,
ul>i,
ul>button {
    padding: 0 8px;
}

ul>button {
    background-color: rgb(0, 174, 255);
}

p a {
    color: rgb(0, 117, 171);
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
}

h1 {
    font-family: Product Sans;
    font-size: 5.5em;
}

.my-container {
    display: flex;
    justify-content: space-between;
    width: 600px;
    height: 40px;
    border: 1px solid grey;
    border-radius: 20px;
}

#search {
    padding: 1px;
    margin: 10px;
}

.my-container:hover {
    box-shadow: 0 0 10px 0 grey;
}

.my-container input {
    flex-grow: 1;
    border: none;
    outline: none;
}

.my-button-container {
    padding-top: 53px;
}

button {
    background-color: rgb(233, 228, 228);
    border-radius: 5px;
    border: none;
    height: 36px;
    padding: 0 20px;
    margin: 0 4px;
}

button:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgb(233, 228, 228);
}

footer {
    background-color: #f2f2f2;
    position: fixed;

    width: 100vw;
    bottom: 0;
}


#footer-left {
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
    align-items: center;
}

#footer-right {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    align-items: center;
}

/* Media queries to prevent overlap and make page responsive */
/* if width is less than 360px do this... */

@media (max-width: 630px) {

    /* set the nav elements to be column */
    #footer-nav {
        flex-direction: column;
    }

    /* we wanna change the justify-content to center then theyll turn to columns and stack on top of each other*/
    #footer-left {
        justify-content: center;
    }

    #footer-right {
        justify-content: center;
    }

    /* set the input to be 95% of the view window */
    #my-container {
        width: 95vw;
    }


}

/* do this if the height is less than 522px */
@media (max-height: 522px) {

    /* default shows a scroll bar so we set it to hidden */
    body {
        overflow-x: hidden;
    }

    /* change our body from position to relative */
    section {
        margin-bottom: 20px;

    }

    footer {
        position: relative;
    }
}

/* do this if the max-h is less than 570 and max-w
 less then 630 */

@media (max-height: 570px) and (max-width: 630px) {

    body {
        overflow-x: hidden;
    }

    section {
        margin-bottom: 13px;

    }

    footer {
        position: relative;
    }

}